body {
    text-align:center;
background-color:darkgrey;
    font-size:20px;
    text-align:center;
}
.section-style {
border-image-width: auto;
width:50%;
    align-content: center;
}
img {
    width:50%;
    align-content: center;
    border-bottom-style: dotted;
    border-color:darkgrey;
}
p {

    font-size:30px;
}
